.weatherCard{
    background-color: rgba(202, 126, 253, 0.13);
    width: 90%;
    min-height: 70vh;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: space-evenly;
}
.weatherCard_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 50px;
}
.weatherCard_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.weatherCard_description{
    text-transform: capitalize;
}
.weatherCard_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.weatherCard_item{
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 2fr;
}
.weatherCard_item span:first-child{
    text-transform: capitalize;
}
.weatherCard_item span:last-child{
    font-weight: 900;
}
.weatherCard_temp{
    margin: 15px 0;
}
.weatherCard_btn{
    background-color: rgba(110, 210, 250, 0.199);
    padding: 5px 15px;
    border-radius: 5px;
    transition: transform .25s, box-shadow .25s;

}
.weatherCard_btn:hover{
    background-color:rgba(110, 210, 250, 0.466) ;
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    transition: transform .25s, box-shadow .25s;
}